*.iml
.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/localizerSettings.xml
!/.idea/file.template.settings.xml
!/.idea/fileTemplates
!/.idea/icon.svg
.idea/dictionaries
.gradle
.gradle/
.DS_Store
*/build
/build
/out
/captures
bin/
gen/
.externalNativeBuild
.cxx
local.properties
app/dev/release/baselineProfiles
app/dev/release
app/ogstartracker.keystore
app/prod.keystore
android
